* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;;
}

a {
    color: DodgerBlue;
}

a:active {
    color: Red;
}

a:visited {
    color: Purple;
}

a:hover {
    color: Yellow;
}

h1 {
    margin: auto;
    color: Green;
    font-size: 32px;
    border-bottom: double;
    border-bottom-width: medium;
}

h2 {
    margin: auto;
    color: Green;
    font-size: 24px;
    border-bottom: solid;
    border-bottom-width: thin;
}

.menuBar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menuBar ul {
    background-attachment: fixed;
    background-position: top center;
    list-style-type: none;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.menuBar ul li {
    display: inline;
}

.menuBar ul li a {
    float: left;
    display: block;
    padding: 12px;
    background-color: Grey;
    border-right: .5px solid White;
    border-left: .5px solid White;
    color: White;
    width: 20%;
    text-align: center;
}

.menuBar ul li a:hover {
    background-color: DarkGrey;
}

p {
    text-align: left;
    color: Black;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

html {
    background-image: url("https://github.com/KevinDackow/KevinDackow.github.io/blob/master/Brown%20Background%20Website.JPG");
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid Black;
    width: 90%;
    margin: auto;
}
