* {
	box-sizing: border-box;
}

h1 {
	color: LawnGreen;  
	font-size: 32px;
}

p, ol {
	color: White;
	font-family: Veranda;
	font-size: 16px;
}

body {
	background: linear-gradient(to bottom right, DarkBlue, Indigo);
}

