/* Red in the logo is #7f1600 */

* { 
    box-sizing: border-box;
}

#headerWrapper {
    padding-left: 20px;
    color: black;
    font-family: monaco, Consolas, Lucida Console, monospace;
    max-height: 85px;
}

#logo {
    /*    padding is only on the right for header items so when it rescales based on window size it is not oddly justified e.g. left pading on an item that now has its own line*/
    padding-right: 30px;
    float: left;
}

#slogan {
    padding-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*    the height of the logo minus 10px due to 5px of whitespace above and below the image I have been using. If source for logo is changed, make this height the height of the image minus its*/
    height: 75px;
    float: left;
}

#slogan h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    line-height: 0px;
    padding: 0;
}

#slogan h2 {
    text-align: center;
    font-size: 1em;
    padding: 0;
    font-weight: 500;
    line-height: 0px;
}

#logoutButtonHolder {
    padding-right: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*    See line 25 for more info */
    height: 75px;
    float: right;
}

#logoutButton {
    display: block;
    background-color: white;
    border-color: #7f1600;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

#navBar {
    font-family: monaco, Consolas, Lucida Console, monospace;
    z-index: 99999;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding: 0 0 0 0;
    width: 100%;
}

#navBar ul {
    list-style-type: none;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    background-color: gray;
}

#navBar ul li {
    display: inline;
}

#navBar ul li a {
    float: left;
    display: block;
    padding: 12px;
    background: gray;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease; 
    -o-transition: background .5s ease;  
    transition: background .5s ease;
    color: White;
    text-align: center;
    font-size: medium;
    text-decoration: none;
    white-space: nowrap;
}

#navBar ul li a:hover {
    background: darkgrey;
}

#content {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    margin: 0 0 50px;
}

footer {
    background-color: white;
    border-top: thin solid #CACACA;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 25px;
    border-bottom: thick solid #CACACA;
    padding-left: 20px;
}

footer p {
    font-size: .5em;
}


.CompareAndFavorites {
    background-color: white;
    float: left;
    padding-left: 250px;
    padding-top: 0;
    padding-bottom: 10px;
}

.CompareAndFavorites h2 {
    font-size: 1em;
}

.CompareFaveTable, .CompareFaveTable td {
    border: thin solid #888888;
    border-collapse: collapse;
}

.School_and_Remove  {
    border-collapse: collapse;
    border-color: white;
    background-color: midnightblue;
    color: white;
    text-align: left;
}

.CompareFaveTable td {
    font-size: .85em;
}

.CompareFaveTable th, .CompareFaveTable td {
   padding: 5px; 
}

.CompareFaveTable a {
    color: #36aad5;
    text-decoration: none
}

.SchoolTableHeader, .RemoveTableHeader {
    font-size: .95em;
}

.SchoolTableHeader, .schoolName {
    width: 110px;
}

.RemoveTableHeader {
    width: 50px;
}