#login {
    float: left;
    padding-left: 20px;
    padding-right: 100px;
}

#loginForm input {
    background-color: rgba(255, 255, 0, .3);
}

#loginPhoto {
    position: relative;
    float: left;
    box-shadow: 0px 0px 35px #888888;
}

#loginPhoto img {
    max-height: 300px;
    display: block;
}

#loginPhoto h2 {
    position: absolute;
    font-style: italic;
    top: 0;
    left: 5px;
}

#loginPhoto h2 span{
    color: white;
    text-shadow:  1px 1px #888888;
}

#passwordLink {
    font-size: .7em;
}