<h1 class="display-4 text-white ml-5 mt-5 mr-5">About Me</h1>
<p class="lead text-white ml-5 mr-5">Last Updated: February, 2020</p>

<p class="text-white ml-5 mr-5">My name is Kevin Dackow. I am currently completing my final semester at Brown University, and I will graduate this May with an Sc.B. in Computer Science.</p>
<p class="text-white ml-5 mr-5">My coursework has focused on computer systems, and I have studied areas of computer science including networking, operating systems, and data science.</p>

<h2 class="display-8 text-white ml-5 mt-5 mr-5">Featured Work Experience</h2>
<p class="text-white ml-5 mr-5">For the most up-to-date resume information, please refer to my
        <a href="https://linkedin.com/in/kevindackow" target="_blank">LinkedIn</a>.
    </p>
<div class="card ml-5 mt-5 mr-5">
    <div class="card-body">
        <img class="card-img-top" src="./assets/images/cards/google.jpg" alt="Card image cap">
        <h5 class="card-title">Software Engineer</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fall 2020</h6>
        <p class="card-text">This fall I will join Google as a full-time software engineer working on BGP for the Networks Infrastructure Team.</p>
        <a href="https://ai.google/research/teams/network-systems/" class="btn btn-primary">The Networks Infrastructure Team</a>
    </div>
</div>
<div class="card ml-5 mt-5 mr-5">
        <div class="card-body">
            <img class="card-img-top" src="./assets/images/cards/browncs.png" alt="Card image cap">
            <h5 class="card-title">Head Teaching Assistant</h5>
            <h6 class="card-subtitle mb-2 text-muted">September - December 2019</h6>
            <p class="card-text">I was the Head Teaching Assistant for Brown's course on Computer Networks.</p>
            <a href="http://cs.brown.edu/courses/csci1680/" target="_blank" class="btn btn-primary">Course Homepage</a>
        </div>
    </div>
<div class="card ml-5 mt-5 mr-5">
    <div class="card-body">
        <img class="card-img-top" src="./assets/images/cards/gcp.png" alt="Card image cap">
        <h5 class="card-title">Software Engineering Intern</h5>
        <h6 class="card-subtitle mb-2 text-muted">June 2019 - Present</h6>
        <p class="card-text">Last summer I interned at Google on the Google Cloud Platform.</p>
        <a href="https://cloud.google.com/" class="btn btn-primary">Google Cloud Platform</a>
    </div>
</div>
<div class="card ml-5 mt-5 mr-5">
    <div class="card-body">
        <img class="card-img-top" src="./assets/images/cards/brownsys.png" alt="Card image cap">
        <h5 class="card-title">Research Assistant</h5>
        <h6 class="card-subtitle mb-2 text-muted">May - December 2018</h6>
        <p class="card-text">I spent my sophomore summer and the following semester researching mobile web performance at Brown.</p>
        <a href="https://systems.cs.brown.edu/" class="btn btn-primary">The Brown Systems Research Group</a>
    </div>
</div>
